
<div class="polls jumbotron tiles" ng-repeat= "poll in data">
  <div class = "well tiles">
    <h1>{{poll.question}}</h1>
  </div>
      <div class = "row">



        <div class = "col-md-5">

      <form action="">
        <div class = "row tiles well" ng-repeat= "optionObj in poll.choice">
          <div class = "col-md-10">

          <strong>{{optionObj.option}}</strong>
              </div>
              <div class = "col-md-2">
                <button ng-click = "post(poll.question,optionObj._id)" id="voteBtn" class = "btn btn-primary">
                  Vote!</button>
              </div>

            </div>

      </form>


    </div>
    <div class ="col-md-2"></div>
    <div class = "col-md-5">



      </br//>
        <div ng-controller ="piechart" class = "chart-container">
          <canvas id="doughnut"  class="chart chart-doughnut"
          chart-data="poll.voteArray[0]" chart-labels="poll.optionArray[0]">
        </canvas>
        </div>

      </div>
        </div>


</div>
