
<div class "polls" ng-repeat= "poll in data">

      <h1>{{poll.question}}</h1>

      {{poll.voteArray[0]}}
      <div id= "chart-container"ng-controller ="piechart">
        <canvas id="doughnut"  class="chart chart-doughnut"
        chart-data="poll.voteArray[0]" chart-labels="poll.optionArray[0]">
      </canvas>
      </div>

      <form action="">
        <div class = "well row" ng-repeat= "optionObj in poll.choice">
          <div class = "col-md-10">

          <strong>{{optionObj.option}}</strong>
              </div>
              <div class = "col-md-2">
                <button ng-click = "post(poll.question,optionObj._id)" id="voteBtn" class = "btn btn-primary">
                  Click here to Vote!</button>
              </div>

            </div>
      {{option}}

      </form>






















</div>
